
<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Informacion del cliente
        </mat-panel-title>
        <mat-panel-description>
          Esta es la informacion basica del cliente
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        <mat-form-field>
            <input matInput placeholder="Nombre" name="Nombre" required [(ngModel)]="this.newClient.Name"  >
          </mat-form-field> 
        </p>
        <p>    
          <mat-form-field>
              <input matInput placeholder="Apellido" name="Apellido" required [(ngModel)]="this.newClient.LastName"  >
            </mat-form-field>  
        </p>  

        <p>  
          <mat-form-field>
              <input type="number" matInput placeholder="NUIP" name="NUIP" required [(ngModel)]="this.newClient.NUIP"  >
            </mat-form-field> 
        </p>

        <p>  
          <mat-form-field>
              <input matInput placeholder="Direccion" name="Direccion" required [(ngModel)]="this.newClient.Address"  >
            </mat-form-field> 
        </p>
  
        <p>  
          <mat-form-field>
              <input matInput placeholder="Email" name="Email" required [(ngModel)]="this.newClient.Email"  >
            </mat-form-field> 
        </p>
        <p>    
            <mat-form-field>
                <input matInput placeholder="Telefono" name="Telefono" required [(ngModel)]="this.newClient.Phone"  >
            </mat-form-field>
        </p>
  
      
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Agregar polizas
        </mat-panel-title>
        <mat-panel-description>
          Seleccionar las polizas para el cliente
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-accordion>
        <mat-expansion-panel [expanded]="panelOpenState" *ngFor= "let policy of ActualPolicies">
          <mat-expansion-panel-header>
            <mat-panel-title>
                {{policy.Name}}
            </mat-panel-title>
            <mat-panel-description>
              {{policy.Description}}
            </mat-panel-description>
            
          </mat-expansion-panel-header> 

          <mat-action-list>
            <button mat-list-item (click)="addPolicy(policy.Id)"> Agregar </button>
          </mat-action-list>   
          
          
        </mat-expansion-panel>        
      </mat-accordion>
    </mat-expansion-panel>    
  </mat-accordion>


  <button mat-raised-button color="primary" (click)="save()"> Guardar</button>






