<div class="container">
    <form >
      <div class="row">
        <h1>Bienvenid@</h1>
        <div>
          Back office administracion de polizas
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="email">Email</label>
        </div>
        <div class="col-75">
          <input type="text" id="email" name="email" placeholder="Email">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="pass">Escriba un password</label>
        </div>
        <div class="col-75">
          <input type="password" id="pass" name="pass" placeholder="Password">
        </div>
      </div>
      <div class="row">
          <div class="col-25">
            <label for="pass">Confirme el password</label>
          </div>
          <div class="col-75">
            <input type="password" id="pass" name="pass" placeholder="Password">
          </div>
        </div>
      <div class="row">
        <input type="submit" value="Registrarse">
      </div>
    </form>
  </div>

  